.nav{
    /* border: 1px solid red; */
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    
    
}
.card{
    /* border: 1px solid red; */
    
    width: 40%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    
}
button{
    background-color: orange;
    border-color: orange;
    color: white;
    cursor: pointer;
}